<nav class="navbar bg-body-tertiary">
    <form class="container-fluid justify-content-start">
      <button class="btn btn-outline-success me-2" type="button" [routerLink]="['/home']">Home</button>
      <button class="btn btn-outline-success me-2" type="button"[routerLink]="['/view-appointments']">View Appointment</button>
      <button class="btn btn-outline-success me-2" type="button"[routerLink]="['/add-appointments']">Add Appointment</button>
      <!-- <button class="btn btn-outline-success me-2" type="button"[routerLink]="['/edit-appointments']">Edit Appointment</button> -->
    </form>
  </nav>
<router-outlet></router-outlet>

